* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    list-style: none;
    text-decoration: none;
}
/*   font-family: "Poppins", serif; */
.container {
    max-width: min(1140px, 90%);
    margin: 0 auto;
    padding: 0 15px;
}
header {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1920px;
}
header .hero .container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
nav .container, nav .container div, nav .container div ul  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .container {
    height: 100px;
}
header nav .logo p {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.78px;
} 
nav .container div ul {
    width: 394px;
    height: 19px;
}
nav .container div ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;    
    color: #170C04;
}
nav .container .icons {
    width: 138px;
    height: 18px;
    position: relative;
    z-index: 2;
}
header .hero .container {
    display: flex;
    justify-content: space-between;
}
header .hero .container .texts {
    width: 30%;
}
header .hero .container p {
    font-family: "Poppins", serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;   
    z-index: 2;
    position: absolute;
    max-width: 613px;
    margin-top: 136px;
} 
.hero .background {
    width: 925px;
    height: 993px;
    background-color: #E27B3A;
    position: absolute;
    top: -21%;
    right: -60%;
    opacity: 10%;    
    transform: rotate(20deg);
}
header .hero .container .buttons {
    margin-top: 45px;
    width: 282px;
    height: 48px;
    position: absolute;
    margin-top: 436px;
}
header .hero .container button:nth-child(1) {
    background: #E27B3A;
    width: 123px;
    height: 48px;
    border-radius: 24px;   
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
    color: #ffffff;
}
header .hero .container button:nth-child(2) {
    width: 139px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #dbd6d2;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #E27B3A;
    margin-left: 15px;
    cursor: pointer;
}
header .hero .container .photo {
    width: 70%;
}
header .hero .container img {
    width: 100%;
    margin-left: 50px;
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 1200px) {
    header .hero .container {
        flex-direction: column;
    }
    .hero .background {
        display: none;
    }
    header .hero .container .photo {
        margin-top: 519px;
    }
}
#InputMenu {
    display: none;
}
header label {
    width: 23px;
    height: 16px;
    border: 2px;
    position: relative;
    cursor: pointer;
}
header label div {
    width: 100%;
    height: 2px;
    background-color: #170C04;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 99px;
}
header label div:nth-child(1) {
    top: 0;
}
header label div:nth-child(2) {
    top: 50%;
}
header label div:nth-child(3) {
    top: 100%;
}
 #InputMenu:checked + header .navLinks {
    height: 35vh;
}
@media screen and (max-width: 768px) {
    header .navLinks {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #E27B3A;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .5s;
        overflow: hidden;
    }
    header .navLinks ul {
        flex-direction: column;
    }
    header .navLinks ul li  {
        margin-top: 50px;
    }   
    header .navLinks ul li a:hover {
        color: #ffffff;
        transition: 0.2s;
        font-weight: 500;
    }
} 
@media screen and (max-width: 574px) {
    header .hero .container .buttons {
        margin-top: 570px;
    }
    header .hero .container .photo {
        margin-top: 650px;
    }
}

 